.btn {
  width: 100px;
  background-color: rgb(92, 14, 14);
  border-radius: 10px;
  border: none;
}

.btn:hover {
  background-color: rgb(110, 124, 110);
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}
